################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TransportationManagementSystemMaintenanceModule
/TRANSPORTATIONMANAGEMENTSYSTEM/Controllers/AccountController.cs
